---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simple Worship">
  <main
    class="m-auto flex w-full max-w-3xl flex-col items-center gap-8 p-1 text-xl leading-6 text-white"
  >
    <h1 class="mt-24 text-center text-6xl font-bold">
      Backyard <span class="text-gradient">Worship</span> Setlists
    </h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-flame-kindling fill-white"
    >
      <path
        d="M12 2c1 3 2.5 3.5 3.5 4.5A5 5 0 0 1 17 10a5 5 0 1 1-10 0c0-.3 0-.6.1-.9a2 2 0 1 0 3.3-2C8 4.5 11 2 12 2Z"
      ></path>
      <path d="m5 22 14-4"></path>
      <path d="m5 18 14 4"></path>
    </svg>
    <p class="text-center">
      Get lyrics for worship sessions that don't have projectors and slides.
    </p>
    <Button as="a" href="/setlists" class="text-xl" variant="purple">
      SETLISTS →
    </Button>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
