---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      media="(prefers-color-scheme: light)"
      href="/favicon-light.png"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
      href="/favicon-dark.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white">
    <div class="mx-auto max-w-screen-sm px-4">
      <slot />
      <p class="text-center">
        A Project by
        <a href="https://jonsully.net" target="_blank" class="underline">Jon</a
        >, forked from
        <a
          href="https://github.com/walker-tx/simpleworship.live"
          target="_blank"
          class="underline">Walker</a
        >, originated by Claude.
      </p>
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
